<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.zfr">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="donut">
        <activity android:name=".SignInActivity" />
        <activity
            android:name=".LogInActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".InputActivity.PIntakeInputActivity"
            android:label="Fill Details"
            android:parentActivityName=".ItemActivity.PtIntakeItemActivity" />
        <activity
            android:name=".InputActivity.PDriveTrainInputActivity"
            android:label="Fill Details"
            android:parentActivityName=".ItemActivity.PtDriveTrainItemActivity" />
        <activity
            android:name=".InputActivity.PCoolingInputActivity"
            android:label="Fill Details"
            android:parentActivityName=".InputActivity.PCoolingInputActivity" />
        <activity
            android:name=".InputActivity.PExhaustInputActivity"
            android:label="Fill Details"
            android:parentActivityName=".InputActivity.PExhaustInputActivity" />
        <activity
            android:name=".InputActivity.EInputActivity"
            android:label="Fill Details"
            android:parentActivityName=".ItemActivity.ElectronicsItemActivity" />
        <activity
            android:name=".InputActivity.BInputActivity"
            android:label="Fill Details"
            android:parentActivityName=".ItemActivity.BrakesItemActivity" />
        <activity
            android:name=".InputActivity.CInputActivity"
            android:label="Fill Details"
            android:parentActivityName=".ItemActivity.ChassisItemActivity" />
        <activity
            android:name=".InputActivity.InputActivity"
            android:label="Fill Details"
            android:parentActivityName=".VehicleDynamicsActivity" />
        <activity
            android:name=".InputActivity.VSuspensionInputActivity"
            android:label="Fill Details"
            android:parentActivityName=".ItemActivity.VdSuspensionItemActivity" />
        <activity
            android:name=".InputActivity.MInputActivty"
            android:label="Fill Details"
            android:parentActivityName=".ItemActivity.MiscellaneousItemActivity" />
        <activity
            android:name=".ItemActivity.VdSuspensionItemActivity"
            android:label="Suspension Item Data"
            android:parentActivityName=".VehicleDynamicsActivity" />
        <activity
            android:name=".ItemActivity.PtIntakeItemActivity"
            android:label="Intake Item Data"
            android:parentActivityName=".PowerTrainActivity" />
        <activity
            android:name=".ItemActivity.PtDriveTrainItemActivity"
            android:label="Drive Train Item Data"
            android:parentActivityName=".PowerTrainActivity" />
        <activity
            android:name=".ItemActivity.PtCoolingItemActivity"
            android:label="Cooling Item Data"
            android:parentActivityName=".PowerTrainActivity" />
        <activity
            android:name=".ItemActivity.PtExhaustItemActivity"
            android:label="Exhaust Item Data"
            android:parentActivityName=".PowerTrainActivity" />
        <activity
            android:name=".ItemActivity.MiscellaneousItemActivity"
            android:label="Miscellaneous Item Data"
            android:parentActivityName=".Department" />
        <activity
            android:name=".ItemActivity.ElectronicsItemActivity"
            android:label="Electronics Item Data"
            android:parentActivityName=".Department" />
        <activity
            android:name=".ItemActivity.BrakesItemActivity"
            android:label="Brakes Item Data"
            android:parentActivityName=".Department" />
        <activity
            android:name=".ItemActivity.ChassisItemActivity"
            android:label="Chassis Item Data"
            android:parentActivityName=".Department" />
        <activity
            android:name=".ItemActivity.Last2"
            android:label="Steering Item Data"
            android:parentActivityName=".VehicleDynamicsActivity" />
        <activity
            android:name=".PowerTrainActivity"
            android:label="Sub Power Train"
            android:parentActivityName=".Department" />
        <activity
            android:name=".VehicleDynamicsActivity"
            android:label="Sub Vehicle Dynamics"
            android:parentActivityName=".Department" />
        <activity
            android:name=".Department"
            android:label="Departments"
            android:parentActivityName=".NavActivity" />
        <activity
            android:name=".NavActivity"
            android:label="Let&apos;s Go ZFR ">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>